/* ຕັ້ງຄ່າຟອນຕ໌ລາວໃຫ້ທັງເວັບໄຊທ໌ */
body {
    font-family: 'Phetsarath OT', 'Saysettha OT', sans-serif;
}

/* ຟັງຊັນເຊື່ອງ Element */
.hidden {
    display: none !important;
}

/* ປັບແຕ່ງ Scrollbar ຂອງກ່ອງໃບບິນໃຫ້ເບິ່ງງ່າຍ */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border-radius: 10px;
}