/* ຕັ້ງຄ່າຟອນຕ໌ລາວໃຫ້ທັງເວັບໄຊທ໌ */
body {
    font-family: 'Phetsarath OT', 'Saysettha OT', sans-serif;
}
.hidden {
    display: none !important;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border-radius: 10px;
    
}
.room-badge {
    display: inline-block;
    white-space: nowrap; /* ປ້ອງກັນບໍ່ໃຫ້ຂໍ້ຄວາມແຕກແຖວ */
    overflow: visible;   /* ໃຫ້ຂໍ້ຄວາມສະແດງຜົນເຕັມ */
    padding: 2px 8px;
}
.bg-white:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
#winnerTableBody {
    font-size: 14px;
}